/* Round images inside the main markdown container that Primer uses */
.markdown-body img:not(.emoji) {
  border: 1px solid black !important;
  border-radius: 8px !important;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
